Repository CiroLee/ease-motion: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"],
  "packages/**/*.{json,css,md}": ["prettier --write"]
}

feat: add useLineDraw docs
  package.json
Due: none

feat: add useSpring hook
  packages/app/package.json
  packages/app/src/components/MenuList/index.tsx
  packages/app/src/pages/docs/useSpring.doc/codes.ts
  packages/app/src/pages/docs/useSpring.doc/index.tsx
  packages/app/src/router/index.tsx
  packages/app/src/ui/Button/index.tsx
  packages/app/src/ui/Tag/index.tsx
  packages/lib/hooks/createSpring.ts
  packages/lib/hooks/index.ts
  packages/lib/hooks/types.ts
  packages/lib/hooks/useSpring.ts
  packages/lib/hooks/useValue.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

feat: add useSpring docs and perf useSpring hook
  packages/app/package.json
  packages/app/src/pages/docs/common.api.ts
  packages/app/src/pages/docs/useSpring.doc/api.ts
  packages/app/src/pages/docs/useSpring.doc/codes.ts
  packages/app/src/pages/docs/useSpring.doc/index.tsx
  packages/app/src/pages/docs/useValue.doc/api.tsx
  packages/app/src/pages/docs/useValue.doc/codes.ts
  packages/app/src/pages/docs/useValue.doc/index.tsx
  packages/app/src/ui/Slider/index.tsx
  packages/lib/hooks/useSpring.ts
  packages/lib/hooks/useValue.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

feat: update version
  package.json
Due: none

docs: update readme
  README.md
Due: none

fix: fix combination bug of useMultiple hook
  packages/lib/hooks/useMultiple.ts
Due: prettier --write, eslint --fix, eslint

chore: add script
  package.json
  pnpm-lock.yaml
  script/mv.ts
Due: none

chore: change publish
  package.json
  packages/lib/README.md
  packages/lib/package.json
Due: prettier --write

chore: change name as ease-motion
  README.md
  images/ease-motion-logo.svg
  package.json
  packages/app/index.html
  packages/app/package.json
  packages/app/src/components/BurgerButton/index.tsx
  packages/app/src/components/CodeModal/index.tsx
  packages/app/src/components/EaseIcon/index.tsx
  packages/app/src/components/MotionList/index.tsx
  packages/app/src/components/PropertyList/index.tsx
  packages/app/src/layout/Navigation.tsx
  packages/app/src/pages/docs/overview/index.tsx
  packages/app/src/pages/docs/useAnimate.doc/index.tsx
  packages/app/src/pages/docs/useGroup.doc/codes.ts
  packages/app/src/pages/docs/useGroup.doc/index.tsx
  packages/app/src/pages/docs/useLineDraw.doc/codes.ts
  packages/app/src/pages/docs/useLineDraw.doc/index.tsx
  packages/app/src/pages/docs/useMotion.doc/index.tsx
  packages/app/src/pages/docs/useMultiple.doc/codes.ts
  packages/app/src/pages/docs/useMultiple.doc/index.tsx
  packages/app/src/pages/docs/useSpring.doc/codes.ts
  packages/app/src/pages/docs/useSpring.doc/index.tsx
  packages/app/src/pages/docs/useValue.doc/codes.ts
  packages/app/src/pages/docs/useValue.doc/index.tsx
  packages/app/src/pages/home/index.tsx
  packages/app/src/pages/presets/index.tsx
  packages/app/src/ui/Loading/index.tsx
  packages/app/src/ui/Tooltip/index.tsx
  packages/lib/README.md
  packages/lib/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

docs: update readme
  README.md
  packages/lib/README.md
Due: prettier --write

chore: change build
  packages/lib/package.json
  packages/lib/tsup.config.ts
Due: prettier --write, eslint --fix, eslint

feat: change build config
  packages/lib/package.json
Due: prettier --write

docs: update docs
  packages/app/src/pages/docs/useSpring.doc/codes.ts
Due: prettier --write, eslint --fix, eslint

fix: fix some error report
  packages/lib/hooks/controller.ts
  packages/lib/package.json
Due: prettier --write, eslint --fix, eslint

feat: change logo
  images/ease-motion-logo.svg
Due: none

feat: add some examples
  packages/app/src/assets/images/pulse@2x.webp
  packages/app/src/assets/images/tabbar@2x.webp
  packages/app/src/config/index.ts
Due: prettier --write, eslint --fix, eslint

feat: useGroup and useMultiple support preset motion
  packages/app/public/favicon.ico
  packages/app/src/assets/logo.svg
  packages/app/src/pages/docs/useGroup.doc/api.tsx
  packages/app/src/pages/docs/useGroup.doc/codes.ts
  packages/app/src/pages/docs/useGroup.doc/index.tsx
  packages/app/src/pages/docs/useMultiple.doc/api.tsx
  packages/app/src/pages/docs/useMultiple.doc/codes.ts
  packages/app/src/pages/docs/useMultiple.doc/index.tsx
  packages/app/src/pages/docs/useSpring.doc/index.tsx
  packages/app/src/pages/docs/useValue.doc/index.tsx
  packages/lib/hooks/presets.ts
  packages/lib/hooks/types.ts
  packages/lib/hooks/useGroup.ts
  packages/lib/hooks/useMotion.ts
  packages/lib/hooks/useMultiple.ts
  packages/lib/package.json
Due: prettier --write, eslint --fix, eslint

feat: add some zoom presets
  packages/lib/hooks/presets.ts
  packages/lib/hooks/useMotion.ts
Due: prettier --write, eslint --fix, eslint

style: perf app site
  packages/app/src/components/CodeBlock/index.tsx
  packages/app/src/components/MenuList/index.tsx
  packages/app/src/components/Playground/index.tsx
  packages/app/src/pages/home/index.tsx
  packages/app/tailwind.config.js
  packages/lib/package.json
Due: prettier --write, eslint --fix, eslint

feat: add linear algorithm to useValue and perf site
  packages/app/src/pages/docs/useValue.doc/api.tsx
  packages/app/src/pages/docs/useValue.doc/codes.ts
  packages/app/src/pages/docs/useValue.doc/index.tsx
  packages/lib/hooks/easingAlgorithm.ts
  packages/lib/package.json
Due: prettier --write, eslint --fix, eslint

style: optimize app style
  packages/app/src/components/MenuList/index.tsx
  packages/app/src/pages/docs/useAnimate.doc/index.tsx
  packages/app/src/pages/docs/useGroup.doc/index.tsx
  packages/app/src/pages/docs/useLineDraw.doc/index.tsx
  packages/app/src/pages/docs/useMotion.doc/index.tsx
  packages/app/src/pages/docs/useMultiple.doc/index.tsx
  packages/app/src/pages/docs/useSpring.doc/index.tsx
  packages/app/src/pages/docs/useValue.doc/index.tsx
Due: prettier --write, eslint --fix, eslint

feat: add some examples
  packages/app/src/assets/images/letterUp@2x.webp
  packages/app/src/components/ExampleCard/index.tsx
  packages/app/src/config/index.ts
Due: prettier --write, eslint --fix, eslint

feat: add duration check for animation
  packages/lib/hooks/types.ts
  packages/lib/hooks/useAnimate.ts
  packages/lib/hooks/useMotion.ts
  packages/lib/hooks/useMultiple.ts
  packages/lib/hooks/useValue.ts
  packages/lib/hooks/utils.ts
  packages/lib/package.json
Due: prettier --write, eslint --fix, eslint

feat: add license and homepage,no feature updates
  packages/lib/LICENSE
  packages/lib/package.json
Due: prettier --write

feat: test useInView function
  package.json
  packages/app/src/pages/docs/useInView.doc/index.tsx
  packages/app/src/router/index.tsx
  packages/lib/hooks/animate.ts
  packages/lib/hooks/index.ts
  packages/lib/hooks/useGroup.ts
  packages/lib/hooks/useInView.ts
  packages/lib/hooks/utils.ts
  packages/lib/package.json
Due: prettier --write, eslint --fix, eslint

feat: useInView hook
  packages/app/src/components/MenuList/index.tsx
  packages/app/src/components/OutLink/index.tsx
  packages/app/src/components/Playground/index.tsx
  packages/app/src/pages/docs/animate.doc/api.ts
  packages/app/src/pages/docs/animate.doc/index.tsx
  packages/app/src/pages/docs/useAnimate.doc/index.tsx
  packages/app/src/pages/docs/useInView.doc/api.ts
  packages/app/src/pages/docs/useInView.doc/codes.ts
  packages/app/src/pages/docs/useInView.doc/index.tsx
  packages/app/src/pages/docs/useLineDraw.doc/index.tsx
  packages/app/src/pages/docs/useMultiple.doc/index.tsx
  packages/app/src/router/index.tsx
  packages/lib/hooks/animate.ts
  packages/lib/hooks/useInView.ts
Due: prettier --write, eslint --fix, eslint

feat: update lock
  pnpm-lock.yaml
Due: none

feat: update version to 0.1.7
  packages/lib/package.json
Due: prettier --write
